<!DOCTYPE HTML>

<script>
!function (co, h, e, s, i, o, n) {
    h.documentElement.className += ' preampjs fusejs';
    n.k = e; co._Cohesion = n; co._Preamp = { k: s, start: new Date() }; co._Fuse = { k: i };
    co[e] = co[e] || function () { (co[e].q = co[e].q || []).push([].slice.call(arguments)) };
    co[s] = co[s] || function () { (co[s].q = co[s].q || []).push([].slice.call(arguments)) };
    co[i] = co[i] || function () { (co[i].q = co[i].q || []).push([].slice.call(arguments)) };
    h.addEventListener('DOMContentLoaded', function () {
        co.setTimeout(function () {
            var u = h.documentElement.className; h.documentElement.className = u.replace(/ ?preampjs| ?fusejs/g, '')
        }, o);
        co._Preamp.docReady = co._Fuse.docReady = !0
    }); var v = co.analytics = co.analytics || []; if (!v.initialize) {
        if (v.invoked) { co.console && console.error && console.error('Cohesion snippet included twice') } else {
            v.invoked = true; v.methods = ['trackSubmit', 'trackClick', 'trackLink', 'trackForm', 'pageview', 'identify',
            'reset', 'group', 'track', 'ready', 'alias', 'debug', 'page', 'once', 'off', 'on']; v.factory = function (r) {
                return function () { var w = Array.prototype.slice.call(arguments); w.unshift(r); v.push(w); return v }
            };
            for (var x = 0; x < v.methods.length; x++) { var y = v.methods[x]; v[y] = v.factory(y) }
        }
    } var z = h.createElement('script');
    z.async = 1; z.src = 'https://cdn.cohesionapps.com/cohesion/cohesion-frontier.min.js'; h.head.appendChild(z);
}
(window, document, 'cohesion', 'preamp', 'fuse', 3e3, {
    analytics: { apiKey: '999ef067-d4c0-4739-ae02-a11578c46359.e1445869-6b18-46da-ac93-64366db4d29d' },
    preamp: { siteId: '33KA1R8rLJeBlECgnFpUz8' },
    fuse: { leases: [{ pool: 'KeJkH29tUJQQLEtCBz9spi' }] }
})
</script>


<script>
    function myFunction () {
        analytics.track("ElementClicked",{
            "@type":"redventures.usertracking.v3.ElementClicked",
            "webElement" : {
                "text" : "Josh's TIP Submit Button"
            }
            })
    }
</script>

<html>
	<head>
		<title>TIP Attribute Demo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!--Standard urls-->

		<!--[if lte IE 8]><!--<script src="assets/js/ie/html5shiv.js"></script>--><![endif]-->
		<!--<link rel="stylesheet" href="assets/css/main.css" />-->
		<!--[if lte IE 8]><!--<link rel="stylesheet" href="assets/css/ie8.css" />--><![endif]-->
		<!--[if lte IE 9]><!--<link rel="stylesheet" href="assets/css/ie9.css" />--><![endif]-->

		<!--Static URLs-->
		<!--[if lte IE 8]><script src="{{ url_for('static', filename='assets/js/ie/html5shiv.js') }}"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/ie8.css') }}" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/ie9.css') }}" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>TIP Attribute Demo</h1>
				<p>A simple page for demonstrating how <a href="http://confluence.redventures.net/display/DKB/TIP%3A+Traffic+Identification+Process">TIP</a> widens<br />

				your IP and user agent into granular attributes <br /> 

				for experience optimization.</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="POST" action=".">
					<input type="text" name="ip" id="ip" placeholder="IP" />
					<input type="text" name="useragent" id="useragent" placeholder="User Agent" />
					<input onclick="myFunction()" type="submit" value="Show me!"/>
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Red Ventures.</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

		<!-- Scripts -->




			<!--Static urls-->
			<!--[if lte IE 8]><script src="{{ url_for('static', filename='assets/js/ie/respond.min.js') }}"></script><![endif]-->
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>